
__pycache__/
*.py[cod]
*$py.class
*.so


env/
venv/

.env
.env.local
.env.*.local
*.env


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pkl
*.joblib
cmdstan*/

rapportDeStage/*

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace


Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini


.DS_Store
.AppleDouble
.LSOverride
._*
